*{
    margin: 0;
    box-sizing: border-box;
}
.caja1{
background-color: rgb(2, 114, 241);
color: rgb(0, 204, 255);
height: 100px;
width: 200px;
text-align: center;
border: 5px solid rgb(47, 0, 255);
margin: 20px;
padding: 10px;
}
.caja2{
   background-color: rgb(229, 255, 0);
color: rgb(9, 156, 17);
height: 100px;
width: 200px;
text-align: center;
border: 5px dotted rgb(0, 0, 0);
margin: 30px;
padding: 10px; 
}